Source: libsoup2.4
Section: net
Priority: extra
Maintainer: Jaehyun Kim <jeik01.kim@samsung.com>, Taesoo Jun <steve.jun@samsung.com>
Uploaders: Lukasz Slachciak <l.slachciak@samsung.com>, Jaroslaw Staniek <j.staniek@samsung.com>, Lukasz Slachciak <l.slachciak@samsung.com>, Gyuyoung Kim <gyuyoung.kim@samsung.com>, Jaehun Lim <ljaehun.lim@samsung.com>, Jihye Lim <veronica.lim@samsung.com> Jongmin Lee <jm105.lee@samsung.com>, Sungwon Chung <sw6508.chung@samsung.com>, Taesoo Jun <steve.jun@samsung.com>, Taeksu Shin <taeksu.shin@samsung.com>, Seonghyeon Kim <shyeon.kim@samsung.com>, Dongwook Lee <dwmax.lee@samsung.com>, seung hak lee <s.hak.lee@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libglib2.0-dev (>= 2.21.3), pkg-config, libxml2-dev, zlib1g-dev, libsqlite3-dev, glib-networking
Standards-Version: 0.1.0

Package: libsoup2.4
Section: libs
Architecture: any
Depends: zlib1g, libsqlite3-0, libglib2.0-0, libxml2, glib-networking
Replaces: libsoup2.4-1
Description: an HTTP library implementation in C (shared libs)

Package: libsoup2.4-dev
Section: libdevel
Architecture: any
Depends: libsoup2.4 (= ${binary:Version}), libglib2.0-dev (>= 2.18.1), libxml2-dev, pkg-config, zlib1g-dev, libsqlite3-dev
Description: an HTTP library implementation in C (development files)

Package: libsoup2.4-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsoup2.4 (= ${Source-Version})
Description: an HTTP library implementation in C (development files)
